# Global
TIMEZONE=
PUBLIC_HOSTNAME=

# Paths
CONFIG_PATH=
MEDIA_PATH=
SERVERS_PATH=

# Cloudflare
CF_API_EMAIL=

# LLDAP
LDAP_BASE_DN=
LDAP_PASSWORD=
LDAP_JWT_SECRET=
LDAP_KEY_SEED=

# SMB
SMB_THEPHASELESS_PASS=
SMB_KAROLINA_PASS=

# SMTP
SMTP_USERNAME=
SMTP_PASSWORD=

# Renamer
RENAMER_BOT_TOKEN=

# Authelia
AUTHELIA_STORAGE_ENCRYPTION_KEY=
AUTHELIA_SESSION_SECRET=
