Config/*

!Config/Media
Config/Media/*
!Config/Media/Recyclarr
Config/Media/Recyclarr/*
!Config/Media/Recyclarr/recyclarr.yml

!Config/Home/
Config/Home/*
!Config/Home/AdGuard/
Config/Home/AdGuard/*
!Config/Home/AdGuard/conf
!Config/Home/httpd/
!Config/Home/HomeAssistant/
Config/Home/HomeAssistant/*
!Config/Home/HomeAssistant/configuration.yaml

!Config/Auth/
Config/Auth/*
!Config/Auth/Authelia/
Config/Auth/Authelia/*
!Config/Auth/Authelia/configuration.yml

!Config/Auth/Crowdsec
Config/Auth/Crowdsec/*
!Config/Auth/Crowdsec/config
Config/Auth/Crowdsec/config/*
!Config/Auth/Crowdsec/config/acquis.yaml
!Config/Auth/Crowdsec/config/profiles.yaml
!Config/Auth/Crowdsec/config/notifications
Config/Auth/Crowdsec/config/notifications/*
!Config/Auth/Crowdsec/config/notifications/email.yaml
!Config/Auth/Crowdsec/config/parsers
Config/Auth/Crowdsec/config/parsers/*
!Config/Auth/Crowdsec/config/parsers/s02-enrich
Config/Auth/Crowdsec/config/parsers/s02-enrich/*
!Config/Auth/Crowdsec/config/parsers/s02-enrich/default-whitelists.yaml

Logs/

**/.env
