Config/*

!Config/Media
Config/Media/*
!Config/Media/Recyclarr
Config/Media/Recyclarr/*
!Config/Media/Recyclarr/recyclarr.yml

!Config/Home/
Config/Home/*
!Config/Home/AdGuard/
Config/Home/AdGuard/*
!Config/Home/AdGuard/conf
!Config/Home/httpd/
!Config/Home/HomeAssistant/
Config/Home/HomeAssistant/*
!Config/Home/HomeAssistant/configuration.yaml

!Config/Auth/
Config/Auth/*
!Config/Auth/Authelia/
Config/Auth/Authelia/*
!Config/Auth/Authelia/configuration.yml

**/.env
