STORAGE_PATH=/public/Storage
SSD_PATH=/public/SSD
MEDIA_PATH=/public/Storage/Media
CONFIG_PATH=/public/SSD/Config
DB_PASSWORD=(secure password)
DB_HOSTNAME=immich_postgres
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
REDIS_HOSTNAME=immich_redis
IMMICH_VERSION=release
UPLOAD_LOCATION=/public/Storage/Photos
