:root {
	--emoji-size: min(40vh, 25vw);
	--title-size: min(20vh, 10vw);
	--icon-size: min(20vh, 5vw);
	--text-size: min(10vh, 2vw);
	--primary-color: #f4abba;
	--secondary-color: #ea596e;
	--container-border-color: #acacac;
	--title-color: #444444;
	--padding-small: min(10vh, 2vw);
	--padding-large: min(20vh, 5vw);
}

* {
	user-select: none;
	text-decoration: none !important;
}
html {
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.border {
	border: 5px solid var(--container-border-color);
	border-radius: min(10vh, 2vw);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	/* padding-left: var(--padding-large);
	padding-right: var(--padding-large); */
	width: 80%;
	height: 50%;
}

h1 {
	font-family: "Kanit", sans-serif;
	font-style: normal;
	text-align: center;
	font-size: var(--title-size);
	line-height: 1;
	color: var(--title-color);
}

.apps-container {
	justify-content: space-between;
	width: 80%;
}

.apps {
	padding-top: var(--padding-small);
	padding-bottom: var(--padding-small);
}

.app {
	padding-left: var(--padding-small);
	padding-right: var(--padding-small);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: min(40vh, 7vw, 140px);
}

.material-symbols-rounded {
	font-size: var(--icon-size);
	color: var(--title-color);
}

.app div {
	font-family: "Monsterrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: var(--text-size);
	line-height: 1;
	color: var(--title-color);
}

.spacer {
	width: 80px;
}

.divider {
	height: max(4vh, 6vw);
	width: 0.2vw;
	background-color: var(--container-border-color);
	border-radius: 40px;
}

.emoji {
	font-size: var(--emoji-size);
}
