@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Prompt:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
	--primary-color: #f4abba;
	--secondary-color: #ea596e;
	--container-border-color: #acacac;
	--text-color: #656565;
}

.body {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: var(--primary-color);
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.title {
	text-align: center;
	font-family: "Kanit", sans-serif;
	font-size: 150px;
	color: var(--text-color);
	font-weight: bold;
}

.container {
	border: 5px solid var(--container-border-color);
	border-radius: 30px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 70px;
	padding-right: 70px;
}
.spacer {
	width: 70px;
}

.emoji {
	position: relative;
	font-size: 300px;
}
